h1.a{font-family: "Noto Kufi Arabic", sans-serif;}
h1.b{font-family: "Audiowide", sans-serif;}
h1.c{font-family: "Sofia", sans-serif;}
h1.d{font-family: "Trirong", sans-serif;}
h1.e{font-family: "Montserrat", sans-serif;}