body{
    font-family:'Franklin Gothic Medium';
    padding: 1rem;
}
.grid-container{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 10px;
}
.grid-item{
    background: #F0E68C;
    padding: 1rem;
    border-radius: 4px;
}
.grid-container2{
    display: grid;
    grid-template-columns: 100px 2fr 2fr;
    gap: 10px;
}
.grid-item2{
    background: #FAEBD7;
    padding: 1rem;
    border-radius: 4px;
}