.side-bar{
    display: flex;
    width: 200px;
    height: 800px;
    background: #3498db;
    animation-name: slide;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-fill-mode: both;
    flex-grow: 1;
}
@keyframes slide{
    0% {transform: translateX(-100px);}
}
